<nav class="nav-wrapper blue">
  <div class="container">
    <a [routerLink]="['/users']"   class="brand-logo"> Users crud</a>
    <button *ngIf="!auth.isLoggedIn()" [routerLink]="['/register']"  class="btn waves-effect right " style="margin: 8px">Registrarse </button>
    <button *ngIf="auth.isLoggedIn()" [routerLink]="['/usuarios']"  class="btn waves-effect right " style="margin: 8px">{{ auth.getUserDetails()?.name }} </button>
    <button *ngIf="!auth.isLoggedIn()" [routerLink]="['']"  class="btn waves-effect right " style="margin: 8px">Iniciar sesion </button>
    <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()"  class="btn waves-effect right " style="margin: 8px">cerrar cesion </button>

  </div>
</nav>
<router-outlet></router-outlet>