<div class="container">
    <div class="row">
        <div class="login col l8 m8 s21 push-l2 push-m2  text-center  " style="margin-top: 15px">
            <div class="col l12 m12 s12 center">
                <h2 class="blue-text">Red Social</h2>
            </div>

            <div class="col l12 m12 s12 ">
                <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                    <div class="row">
                        <div class="input-field col l12 m12 s12 ">
                            <input id="disabled" type="text" class="validate" name="name" #name="ngModel"
                                [(ngModel)]="userService.selectedUser.name">
                            <label for="disabled" class="active black-text">Nombre:</label>
                        </div>
                        <div class="input-field col l12 m12 s12 ">
                            <input id="disabled" type="email" class="validate" name="correo" #correo="ngModel"
                                [(ngModel)]="userService.selectedUser.correo">
                            <label for="disabled" class="active black-text">Correo:</label>
                        </div>
                        <div class="input-field col l12 m12 s12 ">
                            <input id="disabled" type="password" class="validate" name="password" #password="ngModel"  [(ngModel)]="userService.selectedUser.password">
                            <label for="disabled" class="active black-text">contraseña:</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate " name="confirmPassword"  [(ngModel)]="confirmPassword">
                            <label for="password" class="active black-text">confirmar contrseña:</label>
                        </div>
                        <div class="col l12 m12 s12 center">
                            <button  class=" btn waves-effect " >Registrarme</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>