<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
                        <div class="row">
                            <div class="input-field col-s12">
                                <input type="text" name="name" #name="ngModel"
                                    [(ngModel)]="userService.selectedUser.name" id="name" class="validate" placeholder="Titulo">
                            </div>
                            <div class="input-field col-s12">
                                <input type="text" name="position" #position="ngModel"
                                    [(ngModel)]="userService.selectedUser.position" id="position" placeholder="descripcion">
                                
                            </div>
                           
                            <div class="card-action">
                                <div class="input-field col-s12">
                                    <button class="btn" (click)="resetForm(userForm)">Limpiar</button>
                                    <button class="btn right">Publicar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>nombre</th>
                    <th>post</th>
                    <th>fecha</th>
                    <th>Operacion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userService.post">
                        <td>{{user.title}}</td>
                        <td>{{user.content}}</td>
                        <td>
                            <a (click)="editUser(user)">
                                <i class="material-icons">edit</i>
                            </a>
                            
                        </td>
                        <td>
                            <a (click)="deleteUser(user._id)"><i class="material-icons">delete</i></a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>